/* body {
  position: relative;
} */

.footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  background-color: rgb(22, 21, 21);
  width: 100%;
}

h4 {
  text-align: center;
  color: aliceblue;
  margin-top: 10px;
}

p {
  text-align: center;
  color: aliceblue;
}

hr {
  color: antiquewhite;
}
