.container {
  display: flex;
  margin: 60px auto;
  background-color: rgba(0, 0, 0, 0.13);
}

.detail {
  font-size: 24px;
  font-weight: bold;
  color: rgb(73, 72, 71);
  padding: 20px;
}

p {
  color: black;
  font-size: 14px;
  margin-top: 10px;
}

button {
  text-align: center;
}

.detail {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.detail button {
  width: 30%;
  margin: 20px 0;
}
