.container {
  display: flex;
  margin: 60px auto;
  background-color: rgba(0, 0, 0, 0.13);
}

.detail {
  font-size: 24px;
  font-weight: bold;
  color: rgb(73, 72, 71);
}

p {
  color: black;
  font-size: 14px;
  margin-top: 10px;
}

button {
  text-align: center;
}
